<%= render 'shared/page_title', title: @recipe.name %>
<div class="well col-md-8 col-md-offset-2">
	<h4 class="center description">
		<strong>Description: </strong><br>
		<%= simple_format(@recipe.email) %>
	</h4>
	<hr />

	<div class="pull-right">
		<p class="center">
			<em>Created by:</em>
		</p>
		<p class="center">
			<%= link_to gravatar_for(@recipe.chef), recipe_path %>
		</p>
		<p class="center">
			<small><%= @recipe.chef.chefname.capitalize %></small>
		</p>
	</div>
	<%= @recipe.chef.chefname %>

</div>
